anthropic==0.105.2
chromadb==1.5.9
Django==6.0.5
django-cors-headers==4.9.0
djangorestframework==3.17.1
psycopg2-binary==2.9.12
PyMuPDF==1.27.2.3
python-dotenv==1.2.2
requests==2.34.2
tiktoken==0.13.0
